Fabric==1.11.1
Flask==0.11.1
Jinja2==2.8
MarkupSafe==0.23
Werkzeug==0.11.10
amqp==1.4.9
anyjson==0.3.3
billiard==3.3.0.23
celery==3.1.23
click==6.6
ecdsa==0.13
itsdangerous==0.24
kombu==3.0.35
loutilities==0.10.6
paramiko==1.17.0
pycrypto==2.6.1
pytz==2016.4
unicodecsv==0.14.1
